docs/n8n-onboarding-completado.json
{
  "name": "Onboarding — Aviso Email Ficha Recibida (Resend)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "onboarding-completado",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "e0e477e0-ea85-4b35-8822-b83da932243e",
      "name": "Webhook Onboarding Completado",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [1008, 512],
      "webhookId": "onboarding-completado"
    },
    {
      "parameters": {
        "jsCode": "const b = $input.first().json.body || {};\n\n// Los archivos llegan ya en el propio aviso (base64), directos desde el\n// formulario — no hace falta ir a buscarlos a ningún sitio ni usar ninguna key.\nconst archivos = Array.isArray(b.archivos) ? b.archivos : [];\n\nconst attachments = archivos\n  .filter(f => f?.content)\n  .map(f => ({ filename: f.nombre || 'archivo', content: f.content }));\n\nif (b.logo?.content) {\n  attachments.push({ filename: b.logo.nombre || 'logo', content: b.logo.content });\n}\n\nconst nombreAgencia = b.nombre_agencia || 'Agencia';\nconst subject = `Nueva ficha de alta — ${nombreAgencia}`;\n\nconst totalEsperado = archivos.length + (b.logo ? 1 : 0);\n\nconst html = `\n  <p><strong>${nombreAgencia}</strong> acaba de enviar su ficha de alta.</p>\n  <ul>\n    <li><strong>Razón social:</strong> ${b.razon_social || '—'}</li>\n    <li><strong>NIF/CIF:</strong> ${b.nif || '—'}</li>\n    <li><strong>Persona que rellena:</strong> ${b.persona_rellena || '—'}</li>\n    <li><strong>Email de contacto:</strong> ${b.email_contacto || '—'}</li>\n    <li><strong>Teléfono de administración:</strong> ${b.telefono_admin || '—'}</li>\n    <li><strong>Fecha:</strong> ${b.fecha || '—'}</li>\n    <li><strong>Archivos adjuntos a este email:</strong> ${attachments.length} de ${totalEsperado}</li>\n  </ul>\n  <p><a href=\"https://automanize.com/alta-agencia-admin.html\">Ver el detalle en el panel</a> (por si falta algún adjunto)</p>\n`;\n\nreturn [{\n  json: {\n    from: 'onboarding@automanize.com',\n    to: 'martinmunozinfo@gmail.com',\n    subject,\n    html,\n    attachments,\n  }\n}];"
      },
      "id": "a07178b2-55e6-4584-bf55-b4a36008d5fc",
      "name": "Preparar Email con Adjuntos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1232, 512]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "resendApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "30e9d7a7-3561-4ef9-962d-95358f24cdf8",
      "name": "Enviar Email (Resend)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1456, 512],
      "credentials": {
        "resendApi": {
          "id": "AHPZDrkF2L5dL2KL",
          "name": "Onboarding - Automanize"
        }
      }
    }
  ],
  "connections": {
    "Webhook Onboarding Completado": {
      "main": [[{ "node": "Preparar Email con Adjuntos", "type": "main", "index": 0 }]]
    },
    "Preparar Email con Adjuntos": {
      "main": [[{ "node": "Enviar Email (Resend)", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {}
}
